#root {
  margin: 0 auto;
  max-width: 1280px;
  color: white;
}

.bg-pattern-home-svg-2 {
  background-image: url('./assets/images/bg-pattern-home-2.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: 567px;
}
.bg-pattern-home-svg-3 {
  background-image: url('./assets/images/bg-pattern-home-3.svg');
  background-repeat: no-repeat;
  background-position: top 0 right -80px;
  height: 1073px;
}

@media (min-width: 640px) {
  .bg-pattern-home-svg-2 {
    background-image: url('./assets/images/bg-pattern-home-2.svg');
    background-repeat: no-repeat;
    background-position: bottom 0 center 0;
    background-size: auto;
  }
  .bg-pattern-home-svg-3 {
    background-image: url('./assets/images/bg-pattern-home-3.svg');
    background-repeat: no-repeat;
    background-position: 150% 0;
  }
}

@media (min-width: 1024px) {
  .bg-pattern-home-svg-2 {
    background-image: url('./assets/images/bg-pattern-home-2.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
  .bg-pattern-home-svg-3 {
    background-image: url('./assets/images/bg-pattern-home-3.svg');
    background-repeat: no-repeat;
    background-position: 150% 0;
  }
}
